@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: normal;
  src:
    local('CircularStd'),
    url('CircularStd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'CircularStd';
  font-weight: 500;
  font-style: normal;
  src:
    local('CircularStd'),
    url('CircularStd-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
  src:
    local('CircularStd'),
    url('CircularStd-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome-webfont.eot?v=4.7.0');
  src:
    url('fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
