.ql-mention-list-container {
  background-color: #fff;
  color: #212b36;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow:
    0 24px 48px 0 rgb(145 158 171 / 12%),
    0 3px 24px 0 rgb(145 158 171 / 12%);
  border-radius: 16px;
  padding: 8px 0;
}

.ql-mention-list-container ul#quill-mention-list {
  list-style-type: none;
}

.ql-mention-list-container ul#quill-mention-list li {
  padding: 2px 16px;
  cursor: pointer;
}

.ql-mention-list-container ul#quill-mention-list li.selected {
  background: #ccfce7;
}

.ql-mention-list-container ul#quill-mention-list li:focus {
  background: #68edcb;
}
